.container {
    width: 600px;
    margin: 120px auto;
    box-shadow: 0.1px 4px 10px 2px rgba(0, 0, 0, 0.3);
  }
  
  * {
    box-sizing: border-box;
  }
  body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #68EACC 0%, #497BE8);
  }

  ul {
    margin: 0;
    padding: 0;
  }

  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    list-style: none;
  }

  ul li:nth-child(odd) {
    background: #f9f9f9;
  }

  ul li:hover {
    background: #ddd;
  }

  ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }

  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }

  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }

  .close:hover {
    background-color: #1c8d55;
    color: white;
  }

  .header {
    background-color: #1c9458;
    padding: 30px 40px;
    color: white;
    text-align: center;
  }

  .header:after {
    content: "";
    display: table;
    clear: both;
  }

  input {
    border: none;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }

  .addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
  }

  .addBtn:hover {
    background-color: #bbb;
  }
  .footer{
    display: flex;
    width: 100%;
    padding: 12px 8px 12px 40px;
    text-align: center;
    font-size: 18px;
    justify-content: space-between;
  }